:root {
  --bs-body-bg: #f8f8f8; /* Cambia este valor al color que desees */
}

body {
  background-color: var(--bs-body-bg);
}

.p-paginator, .p-dropdown, .p-inputwrapper, .p-inputwrapper-filled,.p-dropdown-items,.p-dropdown-items-wrapper, footer, .p-dialog , .p-dialog-default, .p-ripple-disabled, .p-dialog-enter-done, .p-dialog-header, .p-dialog-content, input, .p-dropdown-header,.p-menubar,.p-menubar-button,.p-submenu-list,.p-panel-content, .p-panel ,.p-panel-header{
  background-color: var(--bs-body-bg) !important;
}

.p-menuitem-link{
  height:100%;
}

.p-datatable-thead th{
  background-color: #10b981 !important;
  color: white !important;
}



/* .p-dropdown .p-inputwrapper .p-inputwrapper-filled{

} */


input
{
  display: block;
}

.container-form
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-tabview-ink-bar
{
  width: 0 !important;
}

.container-modal
{
  padding: 15px ;
} 

.container-modal form
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-modal form input
{
  width: 100%;

}

.container-modal form .form-group label
{
  margin-bottom: 5px;
}


